@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&family=Montserrat:wght@600;700&display=swap');

:root {
    --grey-100: #FDFDFD; 
    --grey-300: #C7C2CB;
    --grey-500: #7C7384;
    --grey-700: #473853;
    --grey-900: #311F40;
    --grey-1100: #14051F;
    --primary-1: #ECD2FF;
    --primary-2: #DCB0FE;
    --primary-3: #DCB0FE;
    --accent-1: #FAFFB1;
    --accent-2: #F7FF82;
    --accent-3: #E1E977;
    --secondary-1: #E0F5FF;
    --secondary-2: #D1EFFE;
    --secondary-3: #BCDBEB;
    --gradient: ;
    --io-academy: #FF3366;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--grey-1100);
    font-family: hilde, sans-serif;
    font-size: 1.8rem;
    color: var(--grey-100);
    display: grid;
    place-items: center;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat;
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 9.6rem;
    line-height: 1.2;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2rem;
}

p {
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: var(--grey-100);
}

ul {
    list-style: none;
}

input {
    display: block;
}

main {
    display: grid;
    row-gap: 8.8rem;
    margin-bottom: 8.8rem;
}

.container {
    width: 100rem;
}

.grid-10-cols {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 2rem;
}

.btn {
    background-color: var(--accent-2);
    border: none;
    padding: 1.4rem 2.8rem;
    border-radius: 100px;

    font-family: montserrat, sans-serif;
    font-weight: 700;
}

.btn--primary {
    background-color: var(--primary-2);
}

.btn--secondary {
    background-color: var(--secondary-2);
}

.btn--accent {
    background-color: var(--accent-2);
}

.title__line {
    width: 100%;
    height: 0.4rem;
    border-radius: 50px;
    grid-column: 1 / -1;
}

.description {
    padding-bottom: 3.2rem;
}

.navbar {
    height: 12rem;
}

.navbar {
    width: 128rem;
    height: 12rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .nav__list {
    display: flex;
    gap: 4.2rem;
}

.navbar .nav-link {
    font-weight: bold;
}

.hero {
    height: calc(100vh - 12rem);
    display: grid;
    place-items: center ;
}

.hero .content {
    grid-column: 1 / 7;
}

.hero .greeting {
    font-size: 2rem;
    font-weight: 700;
}

.hero .title {
    display: inline-block;
    background: linear-gradient(226.53deg, #F7FF82 10.97%, #BCDBEB 47.72%, #C291E8 86.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .subtitle {
    width: 85%;
    margin-bottom: 4.2rem;
}

.about .container {
    row-gap: 2rem;
}

.about .title { 
    grid-column: 1 / -1;
}

.about .title__line  {
    background-color:  var(--primary-2);
}

.about .subtitle {
    grid-column: 1 / 4;
}

.about .description {
    grid-column: 4 / -1;
    padding-bottom: 3.2rem;
}

.about .io {
    grid-column: 1 / -1;
    align-items: center;
    background-color: #473853;
    border-radius: 5rem;
    padding: 4.8rem 0;
}

.about .io__logo {
    position: relative;
    right: 2rem;
    width: 100%;
    grid-column: 2/ 4;
    border-radius: 10rem;
}

.about .io__content {
    grid-column: 4 / 10;
    align-content: center;
}

.about .io .btn {
    background-color: var(--io-academy);
    color: var(--grey-100);
    flex-grow: none;
}

.portfolio .title {
    margin-bottom: 2rem;
}

.portfolio .title__line {
    background-color: var(--accent-2);
    margin-bottom: 6.4rem;
}

.portfolio__items {
    display: grid;
    row-gap: 12.8rem;
}

.portfolio__item {
    background-color: var(--grey-700);
    border-radius: 5rem;
    overflow: hidden;
}

.portfolio__item  .content {
    padding: 8rem 0;
}

.portfolio__item .img {
    grid-column: 6 / 11;
    background-image: url(img/Project1.jpeg);
    background-position: center;
    width: 100%;
    height: 100%;
}

.portfolio__item .content {
    grid-row: 1 / 2;
    grid-column: 2 / 6
}
.portfolio__item .title {
    margin-bottom: 0.8rem;
}

.portfolio__item .tech__container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.4rem;
}

.portfolio__item .tech {
    padding: 0.8rem 1.6rem;
    border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--grey-900);
    line-height: 1;
}

.portfolio__item .html {
    background-color: var(--primary-2);
    color: var(--grey-100);
}

.portfolio__item .css {
    background-color: var(--accent-2);
}

.portfolio__item--reverse .img {
    grid-column: 1 / 6;
}

.portfolio__item--reverse .content {
    grid-column: 6 / 10;
    position: relative;
    left: 12%;
}

.contact .title {
    margin-bottom: 2rem;
}

.contact .title__line {
    background-color: var(--secondary-2);
    margin-bottom: 2rem;
}

.contact .subtitle {
    font-weight: 600;
    margin-bottom: 2.4rem;
}

.contact .content {
    grid-column: 1 / 7;
}

.contact label {
    font-family: montserrat, sans-serif;
    font-weight: 700;
}

.contact input[type=name],
.contact input[type=email],
.contact textarea  {
    width: 100%;
    background-color: var(--grey-700);
    border: none;
    border-radius: 1rem;
    padding: 1.2rem 1.6rem;
    margin-bottom: 1.2rem;
}

.contact ::placeholder {
    font-weight: 500;
    font-family: hind, sans-serif;
    color: var(--grey-300);
}

.contact .personal-info {
    grid-column: 7 / -1;
    display: grid;
    justify-content: flex-end ;
    width: 100%;
}

.contact .social__links {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-self: right;
}

.contact .social__link {
    font-size: 2.8rem;
}

.contact .location {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.contact .location__icon {
    font-size: 2.4rem;
}

.contact .location__text {
    font-family: montserrat, sans-serif;
}


















