@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&family=Montserrat:wght@600;700&display=swap');

:root {
    --grey-100: #FDFDFD; 
    --grey-300: #C7C2CB;
    --grey-500: #7C7384;
    --grey-700: #473853;
    --grey-900: #311F40;
    --grey-1100: #14051F;
    --primary-1: #ECD2FF;
    --primary-2: #DCB0FE;
    --primary-3: #D39AFF;
    --accent-1: #FAFFB1;
    --accent-2: #F7FF82;
    --accent-3: #E1E977;
    --secondary-1: #E0F5FF;
    --secondary-2: #D1EFFE;
    --secondary-3: #BCDBEB;
    --io-academy: #FF3366;
    --io-academy-dark: #D3415E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--grey-1100);
    font-family: hilde, sans-serif;
    font-size: 1.8rem;
    color: var(--grey-100);
    line-height: 1.6;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 7.2rem;
    margin-bottom: 7.2rem;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat;
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 9.6rem;
    line-height: 1.2;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2rem;
}

p {
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: var(--grey-100);
}

ul {
    list-style: none;
}

input {
    display: block;
}

input, select, textarea{
    color: var(--grey-100);
    font-family: hind, sans-serif   ;
}

textarea:focus, input:focus {
    color: var(--grey-100);
}

input[type=submit] {
    color: var(--grey-900);
}

button:hover {
    transition: all 300ms ease-in;
}

.container {
    max-width: 88rem;
    width: 88%;
    margin: 0 auto;
}

body .navbar .hidden {
    display: none;
}

.btn {
    padding: 1.4rem 2.8rem;
    border-radius: 100px;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid transparent;
}

.btn:hover {
    outline: 2px solid var(--accent-2);
    background: none;
    color: var(--accent-2);
}

.btn--primary {
    background-color: var(--primary-2);
}

.btn--primary:hover {
    outline: 2px solid var(--primary-2);
    color: var(--primary-2);
}

.btn--secondary {
    background-color: var(--secondary-2);
}

.btn--secondary:hover {
    outline: 2px solid var(--secondary-2);
    color: var(--secondary-2);
}

.btn--accent {
    background-color: var(--accent-2);
}

.btn__accent:hover {
    outline: 2px solid var(--accent-2);
    color: var(--accent-2);
}

.fa-linkedin-in:hover {
    color: var(--primary-2);
}

.fa-github:hover {
    color: var(--accent-2);
}

.fa-envelope:hover {
    color: var(--secondary-2);
}


.title__line {
    width: 100%;
    height: 0.4rem;
    border-radius: 50px;
    margin: 1.2rem 0 3.8rem 0 ;
}

.navbar {
    max-width: 128rem;
    width: 88%;
    height: 12rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .nav__list {
    display: flex;
    gap: 4.2rem;
}

.navbar .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(20, 5, 31, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
    
}

.navbar .mobile-nav .mobile__nav__list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.navbar .mobile-nav .nav-link {
    font-size: 2.2rem;
}

.navbar .nav-link {
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.navbar .nav-link a:hover {
    padding-bottom: 0.2rem;
    border-bottom: 2px solid var(--grey-100);
}

.navbar .hamburger {
    display: none;
    position: absolute;
    top: 4.8rem;
    right: 4.8rem;
}

.navbar .hamburger-open,
.navbar .hamburger-close {
    background: none;
    border: none;
}

.hero {
    height: calc(100vh - 12rem);
    display: grid;
    align-content: center;
}

.hero .hero__content {
    position: relative;
}

.hero .hero__greeting {
    font-size: 2rem;
    font-weight: 700;
}

.hero .hero__title {
    display: inline-block;
    background: linear-gradient(226.53deg, #F7FF82 10.97%, #BCDBEB 47.72%, #C291E8 86.03%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .hero__subtitle {
    max-width: 50rem;
    margin-bottom: 4.2rem;
}

.hero .hero__socials {
    position: absolute;
    top: 16%;
    left: 96%;
    font-size: 2.4rem;
}

.about .about__line  {
    background-color:  var(--primary-2);
}

.about .about__grid {
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 2rem;
}

.about .about__subtitle {
    margin-bottom: 1.8rem;
}

.io .io__content {
    background: url(./img/iO_background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 2rem;
    padding: 4.8rem 6.4rem;
    
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.io .io__logo {
    width: 18rem;
    border-radius: 100px;
}

.io .io__description {
    margin-bottom: 1.8em;
}

.io .io__btn {
    background: var(--grey-100);
    color: var(--io-academy-dark);
}

.io .io__btn:hover {
    background: none;
    color: var(--grey-100);
    outline: 2px solid var(--grey-100);
}

.portfolio .portfolio__line {
    background-color: var(--accent-2);
}

.portfolio .portfolio__items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 7.2rem;
}

.portfolio .portfolio__item {
    display: flex;
    background-color: var(--grey-700);
    border-radius: 2rem;
    overflow: hidden;
}

.portfolio .portfolio__img {
    background-image: url(img/Project1.jpeg);
    background-position: center;
    background-size: cover;
    width: 50%;
}

.portfolio .portfolio__item--reverse {
    flex-direction: row-reverse;
}

.portfolio .portfolio__item__content {
    padding: 6.4rem 5.2rem;
    width: 50%;
}

.portfolio .portfolio__technologies {
    margin-bottom: 1.2rem;
}

.portfolio .portfolio__technology {
    padding: 0.8rem 1.6rem;
    border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--grey-900);
}

.portfolio__description {
    padding-bottom: 3.2rem;
}

.portfolio .tech--1 {
    background-color: var(--primary-2);
    color: var(--grey-100);
}

.portfolio .tech--2 {
    background-color: var(--accent-2);
}

.contact .contact__line {
    background-color: var(--secondary-2);
}

.contact .contact__grid {
    display: grid;
    grid-template-columns: 7fr 3fr;
    column-gap: 2rem;
}

.contact .contact__subtitle {
    font-weight: 600;
    margin-bottom: 2.4rem;
}

.contact .contact__label {
    font-family: montserrat, sans-serif;
    font-weight: 700;
}

.contact .contact__input {
    width: 100%;
    background-color: var(--grey-700);
    border: none;
    border-radius: 1rem;
    padding: 1.2rem 1.6rem;
    margin-bottom: 1.2rem;
}

.contact ::placeholder {
    font-weight: 500;
    font-family: hind, sans-serif;
    color: var(--grey-300);
}

.contact .contact__personal-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.contact .contact__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.contact .contact__social-link {
    font-size: 2.4rem;
}

.contact .contact__location-icon {
    font-size: 2.4rem;
}

.contact .contact__location-text {
    font-family: montserrat, sans-serif;
}

@media screen and (max-width: 920px) {
    h1 {
        font-size: 8.8rem;
        line-height: 1.2;
    }
    
    h2 {
        font-size: 3.2rem;
    }
    
    h3 {
        font-size: 2.8rem;
    }
    
    h4 {
        font-size: 1.8rem;
    }
    
    p {
        line-height: 1.7;
    }

    body {
        font-size: 1.6rem;
    }  
}

@media screen and (max-width: 769px) {
    h1 {
        font-size: 6.8rem;
    }

    .navbar .hamburger {
        display: block;
    }

    .hero .hero__socials {
        display: none;
    }

    .about .about__grid {
        grid-template-columns: 1fr;
    }

    .io .io__content {
        flex-direction: column;
        text-align: center;
        border-radius: 3rem;
        gap: 2.4rem;
        padding: 3.6rem 2.8rem;
        margin: 0 auto;
    }

    .io .io__logo {
        width: 14rem;
    }
    
    .portfolio .portfolio__item__content {
        padding: 3.6rem;
    }

    .contact .contact__grid {
        grid-template-columns: 1fr;
    }

    .contact .contact__personal-info {
        margin-top: 4.2rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1.8rem;
    }

    .contact .contact__socials {
        display: flex;
        gap: 3.6rem;
    }

    .contact .contact__location-text {
        font-size: 2rem;
    }

    .contact .contact__social-link {
        font-size: 2.8rem;
    }

    .navbar .nav__list {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    .portfolio .portfolio__item {
        flex-direction: column;
        gap: 0;
        border-radius: 3rem;
    }

    .portfolio .portfolio__item__content {
        text-align: center;
        padding: 3.6rem 2.8rem;
    }

    .portfolio .portfolio__item__content,
    .portfolio .portfolio__img {
        width: 100%;
    }

    .portfolio .portfolio__img {
        height: 28rem;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 472px) {
    h1 {
        font-size: 5.2rem;
    }
}